.btn-primary {
  background: #64aaad;
  border-color: #64aaad;
}

.btn-primary:focus,
.btn-primary:hover {
  background: #4d9092;
  border-color: #4d9092;
}
@media (max-width: 576px) {
  .btn-primary {
    width: 100%;
    font-size: 1rem;
  }
}
