@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  background-color: #eee;
  font-family: "Inter", sans-serif;
}

.btn-primary {
  background: #64aaad;
  border-color: #64aaad;
}
.text-primary {
  color: #64aaad !important;
}

.btn-primary:focus,
.btn-primary:hover {
  background: #4d9092;
  border-color: #4d9092;
}
@media (max-width: 576px) {
  .btn-primary {
    width: 100%;
    font-size: 1rem;
  }
}
